---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: kafka-2-claim0
  labels:
    app: kafka-2
spec:
  storageClassName: ""
  volumeName: fdk-prod-kafka-2
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 149G
---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: fdk-prod-kafka-2
  labels:
    app: kafka-2
spec:
  storageClassName: ""
  capacity:
    storage: 149G
  accessModes:
    - ReadWriteOnce
  gcePersistentDisk:
    pdName: fdk-prod-kafka-2
    fsType: ext4
