name: Deploy to production & demo
permissions:
  contents: read
  packages: write

on:
  push:
    branches:
      - main
  # Allows you to run the workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy-zookeeper:
    name: Deploy zookeeper to prod environment
    uses: Informasjonsforvaltning/workflows/.github/workflows/kustomize-deploy.yaml@main
    with:
      app_name: zookeeper
      environment: prod
      cluster: digdir-fdk-prod
      monorepo_app: true
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DIGDIR_FDK_AUTODEPLOY: ${{ secrets.DIGDIR_FDK_PROD_AUTODEPLOY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  deploy-kafka-prod:
    name: Deploy kafka to prod environment
    needs: [ deploy-zookeeper ]
    uses: Informasjonsforvaltning/workflows/.github/workflows/kustomize-deploy.yaml@main
    with:
      app_name: kafka
      environment: prod
      cluster: digdir-fdk-prod
      monorepo_app: true
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DIGDIR_FDK_AUTODEPLOY: ${{ secrets.DIGDIR_FDK_PROD_AUTODEPLOY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  deploy-schema-registry-prod:
    name: Deploy schema-registry to prod environment
    needs: [ deploy-kafka-prod ]
    uses: Informasjonsforvaltning/workflows/.github/workflows/kustomize-deploy.yaml@main
    with:
      app_name: schema-registry
      environment: prod
      cluster: digdir-fdk-prod
      monorepo_app: true
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DIGDIR_FDK_AUTODEPLOY: ${{ secrets.DIGDIR_FDK_PROD_AUTODEPLOY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  deploy-zookeeper-demo:
    name: Deploy zookeeper to demo environment
    needs: [ deploy-schema-registry-prod ]
    uses: Informasjonsforvaltning/workflows/.github/workflows/kustomize-deploy.yaml@main
    with:
      app_name: zookeeper
      environment: demo
      cluster: digdir-fdk-dev
      monorepo_app: true
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DIGDIR_FDK_AUTODEPLOY: ${{ secrets.DIGDIR_FDK_DEV_AUTODEPLOY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  deploy-kafka-demo:
    name: Deploy kafka to demo environment
    needs: [ deploy-zookeeper-demo ]
    uses: Informasjonsforvaltning/workflows/.github/workflows/kustomize-deploy.yaml@main
    with:
      app_name: kafka
      environment: demo
      cluster: digdir-fdk-dev
      monorepo_app: true
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DIGDIR_FDK_AUTODEPLOY: ${{ secrets.DIGDIR_FDK_DEV_AUTODEPLOY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}

  deploy-schema-registry-demo:
    name: Deploy schema-registry to demo environment
    needs: [ deploy-kafka-demo ]
    uses: Informasjonsforvaltning/workflows/.github/workflows/kustomize-deploy.yaml@main
    with:
      app_name: schema-registry
      environment: demo
      cluster: digdir-fdk-dev
      monorepo_app: true
    secrets:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DIGDIR_FDK_AUTODEPLOY: ${{ secrets.DIGDIR_FDK_DEV_AUTODEPLOY }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
